# Accessing Terminal from a jupyter notebook

Use ! before the command to run it in the terminal.

In [ ]:
!pip install pandas

# Get the Data into Python

In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv("ai-mathematical-olympiad-prize/train.csv")

In [3]:
train_df.head()

       id                                            problem  answer
0  229ee8  Let $k, l > 0$ be parameters. The parabola $y ...      52
1  246d26  Each of the three-digits numbers $111$ to $999...     250
2  2fc4ad  Let the `sparkle' operation on positive intege...     702
3  430b63  What is the minimum value of $5x^2+5y^2-8xy$ w...     800
4  5277ed  There exists a unique increasing geometric seq...     211

In [6]:
first_problem = train_df.iloc[0]['problem'] #iloc[ind] retrives the ind-th row of the dataframe
print(first_problem)

Let $k, l > 0$ be parameters. The parabola $y = kx^2 - 2kx + l$ intersects the line $y = 4$ at two points $A$ and $B$. These points are distance 6 apart. What is the sum of the squares of the distances from $A$ and $B$ to the origin?